.main {
    width: 100% !important;
}

.resturant-image {
    object-fit: fill !important;
}

.carousel-container {
    // position: unset !important;
}

.react-multiple-carousel__arrow--left {
    left: calc(-1% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
    right: calc(0% + 1px) !important;
}

.main-banner-div {
    width: 100% !important;
    margin-bottom: 8%;

    .main-banner-content {
        @media screen and (max-width: 1200px) {
            margin: 0px 0px 0px 30px;
        }

        @media screen and (min-width: 1200px) {
            margin: 0px 0px 0px 100px;
        }

        @media screen and (min-width: 2000px) {
            margin: 0px 0px 0px 200px;
        }
    }


    .content-1 {
        font-size: 75px;
        font-weight: 700;
        line-height: 80px;

        @media screen and (max-width: 900px) {
            font-size: 34px;
            font-weight: 800;
            text-align: center;
            line-height: 40px;
        }
    }

    .content-2 {
        font-size: 75px;
        font-weight: 700;
        color: #E2483F;
        line-height: 80px;

        @media screen and (max-width: 900px) {
            font-size: 34px;
            font-weight: 800;
            text-align: center;
            line-height: 40px;
        }
    }

    .content-3 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 400;
        color: #464646;
        opacity: 0.7;
        line-height: 32px;

        @media screen and (max-width: 900px) {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 14px;
            font-weight: 400;
            color: #464646;
            opacity: 0.7;
            line-height: 26px;
            text-align: center;
        }
    }

    .order-now {
        background-color: #E2483F;
        color: #FFFFFF;
        border-radius: 20px;
        text-transform: capitalize;
        margin-right: 0px;
        font-size: 14px;

        @media screen and (max-width: 900px) {
            border-radius: 20px;
            text-transform: capitalize;
            margin-right: 0px;
            font-size: 12px;
        }
    }

    .download-app {
        background-color: #FFFFFF;
        border-radius: 1800px;
        width: 10px;
        height: 45px;
        min-width: 45px;
        box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);

        // @media screen and (max-width: 600px) {
        //     width: 10px;
        //     height: 45px;
        //     min-width: 45px;
        //     box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
        // }
    }

    .download-button-content {
        color: #686D77;
        margin-left: 10px;
        font-weight: 500;
        font-size: 14px;
    }

    .main-banner-image {
        // width: 100% !important;
        object-fit: fill !important;
    }
}

.service-section {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-left: 70px;
        padding-right: 70px;
    }

    .main-heading {
        font-size: 50px;
        font-weight: 700;
        text-align: center;

        @media screen and (max-width: 600px) {
            font-size: 28px;
            font-weight: 700;
        }

        .heading-part {
            color: #E2483F
        }
    }

    .sub-heading {
        color: #464646;
        font-size: 14px;
        opacity: 0.7;
        text-align: center;

        @media screen and (max-width: 600px) {
            padding-left: 20px;
            padding-left: 20px;
        }
    }

    .img {
        // width: 100px;
        height: 100px;
        object-fit: fill !important;
    }

    .img-heading {
        color: #383535;
        font-size: 22px;
        font-weight: 700;
        line-height: 50px;
    }

    .img-heading-content {
        color: #464646;
        font-size: 15px;
        font-weight: 400;
        opacity: 0.7;
    }

    .content-center {
        margin: auto;
        text-align: center;
        align-items: center;
    }
}

.our-resturants {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-left: 90px;
        padding-right: 60px;
    }

    .main-heading {
        font-size: 50px;
        font-weight: 700;
        text-align: center;

        @media screen and (max-width: 600px) {
            font-size: 28px;
        }

        .heading-part {
            color: #E2483F
        }
    }

    .sub-heading {
        color: #464646;
        font-size: 14px;
        opacity: 0.7;
        // padding-right: 500px;
        text-align: center;

        @media screen and (max-width: 600px) {
            padding-right: 0px;
        }
    }

    .resturants-paper {
        margin-top: 30px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 80px 0px #0000000A;

        .heading {
            margin-top: -30px !important;
            color: #383535;
            font-size: 18px;
            font-weight: 600;

            white-space: nowrap;
            width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .resturant-badge {
        margin-bottom: 5px;
        background-color: #f3f3f4;
        color: #464646;
        text-transform: capitalize;
        font-size: 12px !important;
        font-weight: 400;
        min-height: 30px;
        text-align: center;
        border-radius: 3px;
    }
}

.best-sellers {
    margin-bottom: 70px;
    // text-align: center;

    @media screen and (min-width: 1200px) {
        padding-left: 90px;
        padding-right: 60px;
    }

    .main-heading {
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
        text-align: center;

        @media screen and (max-width: 600px) {
            font-size: 28px;
        }

        .heading-part {
            color: #E2483F
        }

    }

    .sub-heading {
        margin-bottom: 10px !important;
        color: #464646;
        font-size: 14px;
        opacity: 0.7;
        text-align: center;
        margin: auto;

        @media screen and (min-width: 1200px) {
            width: 500px;
        }
    }

    .selling-card {
        padding: 20px;
        // height: 330px;
        background-color: #FFFFFF;
        border: 1px solid #E7E7E7;
        border-radius: 10.4669px;

        .img {
            height: 160px;
            // width: 165px;
            display: block;
            margin: auto;
            object-fit: fill !important;
        }

        .name {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: #383535;
        }

        .description {
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            color: #565656;
            opacity: 0.7;
            white-space: pre-line;
        }

        .price {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: #E2483F;
        }
    }

    .sellers-scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;


        // height: 210px;
        margin-bottom: 20px;
        width: 100%;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        .mobile-seller-paper {
            padding: 20px;
            background-color: #FFFFFF;
            border: 1px solid #E7E7E7;
            border-radius: 10.4669px;
            margin: 10px;
            display: inline-block;
            width: 223px;
            height: 300px;

            .img {
                height: 140px;
                width: 140px;
                display: block;
                margin: auto;
            }

            .name {
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                color: #383535;
            }

            .description {
                font-size: 12px;
                font-weight: 400;
                text-align: center;
                color: #565656;
                opacity: 0.7;
                white-space: pre-line;
            }

            .price {
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                color: #E2483F;
            }
        }
    }
}

.customer-say {
    padding-bottom: 70px;

    @media screen and (min-width: 1200px) {
        padding-left: 60px;
        padding-right: 60px;
    }

    .img {
        height: 400px;
        // width: 500px;
        object-fit: fill;
    }

    .heading {
        font-size: 38px;
        font-weight: 700;

        .heading-part {
            color: #E2483F
        }

        @media screen and (max-width: 600px) {
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }
    }

    .description {
        padding-top: 20px;
        color: #464646;
        opacity: 0.7;
        font-size: 14px;

        @media screen and (max-width: 600px) {
            text-align: center;
        }
    }
}

.get-started-with-byte {
    padding-bottom: 70px;

    @media screen and (min-width: 1200px) {
        padding-left: 60px;
        padding-right: 60px;
    }

    .img {
        height: 400px;
        // width: 500px;
        object-fit: fill !important;
    }

    .heading {
        font-size: 38px;
        font-weight: 700;

        .heading-part {
            color: #E2483F
        }

        @media screen and (max-width: 600px) {
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }
    }

    .description {
        padding-top: 20px;
        color: #464646;
        opacity: 0.7;
        font-size: 14px;
        padding-bottom: 20px;

        @media screen and (max-width: 600px) {
            text-align: center;
        }
    }
}


// .scrolling-wrapper {
//     overflow-x: scroll;
//     overflow-y: hidden;
//     white-space: nowrap;

//     .mobile-resturant-paper {
//         display: inline-block;
//         width: 200px;
//         height: 200px;
//     }
// }

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;


    // height: 210px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    .mobile-resturant-paper {
        background-color: #FFFFFF;
        margin: 10px;
        display: inline-block;
        width: 223px;
        height: 300px;

        // height: 150px;
        .returant-logo {
            height: 200px;
            object-fit: fill !important;
        }

        .returant-name {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: #383535;
            padding: 10px;

            white-space: nowrap;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .returant-rating {
            width: 180px;
            font-size: 11px;
            font-weight: 600;
            line-height: 20px;
        }
    }
}