.button-style {
    background-color: #E2483F !important;
    color: #FFFFFF !important;
    border-radius: 20px !important;
    text-transform: capitalize !important;
    margin-right: 80px !important;
}

.logo {
    margin-left: 70px !important;
}